div#content > h2 {
    text-align: center;
}

.formacao-item {
    display: flex;
}

.formacao-item > img {
    height: 100%;
    margin-right: 1rem;
    border-radius: 1rem;
}

.formacao-item > .infos > h4 {
    margin: 0;
}