div#content {
    width: calc(100vw - 6rem);
    padding: 3rem;
    padding-top: 1rem;
}

div#content > h1 {
    text-align: center;
}

div#content > section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 40vw;
    gap: 1rem;
}

div#content > section > div.item-portifolio {
    border: 0.1rem black solid;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

div#content > section > div.item-portifolio > img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 25%;
}

div#content > section > div.item-portifolio > h4 {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 3rem;
}