body {
    height: 100vh;
    width: 100vw;
    /* background-color: darkgray; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

div#app {
    background-color: white;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: lightblue;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header > h1 {
    font-size: 5vw;
    font-family: cursive;
}

header > img {
    width: 5rem;
    border-radius: 5rem;
}

nav > ul {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.3rem black solid;
}

nav > ul > li {
    padding: 1rem;
    padding-bottom: 0.5rem;
    border: 0.01rem black solid;
    border-radius: 1rem;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: monospace;
    font-size: 4vw;
    display: flex;
    text-align: center;
    align-items: center;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
}

nav > ul > li[active="true"] {
    background-color: black;
}

nav > ul > li[active="true"] > a {
    color: white;
}

div#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6rem);
    padding: 3rem;
    padding-top: 1rem;
}

@media screen and (min-width: 50rem) {

    body {
        background-color: darkgray;
    }

    div#app {
        width: 50rem;
    }

    header > h1 {
        font-size: 300%;
    }

    nav > ul {
        justify-content: left;
    }

    nav > ul > li {
        font-size: 150%;
    }
    
}